# .coveragerc to control coverage.py
[run]
branch = True
source = galaxy_workflow_dev_webapp
omit = */tests/*

[report]
exclude_lines =
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = htmlcov/
