# .coveragerc to control coverage.py
[run]
branch = True
source = gxwf_web
omit = */tests/*

[report]
exclude_lines =
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = htmlcov/
